<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BlankOn</title>
    <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/responsive.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/prettyPhoto.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/Pe-icon-7-stroke.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/owl.theme.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/owl.carousel.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/font-awesome.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/animate.css' | relative_url }}" rel="stylesheet">
</head>
